{% extends "base.html.twig" %}

{% block title %}
    Catégorie : {{ slug }}
{% endblock %}

{% block body %}
    {% include "shared/_breadcrumb.html.twig" with {
            'levelOne': {
               'name': category.name,
               'url': category.slug,
            }
        }
    %}
    <h1>Catégorie : {{ category.name }}</h1>

    <div class="row">
        {% for product in category.products %}
            <div class="col-3">
                {% include "product/product_card.html.twig" %}
            </div>
        {% endfor %}
    </div>
{% endblock %}