<div class="card">
    <img src="{{ product.mainPicture }}" class="img-fluid" alt="Image du projet">
    <div class="card-body">        
        <h4 class="card-title">{{ product.name }} ({{ product.price / 100 }} &euro;)</h4>
        <span class="badge bg-info">{{ product.category.name }}</span>
        <p class="card-text">{{ product.shortDescription }}</p>
        <a href="{{ path('product_show', {'category_slug': product.category.slug, 'slug': product.slug}) }}" class="btn btn-primary btn-sm">Détails</a>
        <a href="#" class="btn btn-success btn-sm">Ajouter</a>
    </div>
</div>