{% extends "base.html.twig" %}

{% block title %}
    PAge de {{ product.name }}
{% endblock %}

{% block body %}
    {% include "shared/_breadcrumb.html.twig" with {
            'levelOne': {
               'name': product.category.name,
               'slug': product.category.slug,
            },
            'levelTwo': {
               'name': product.name,
               'slug': product.slug,
            }
        }
    %}
    
    <h1>{{ product.name }} ({{product.price / 100}} €)</h1>

    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="{{ product.mainPicture }}" alt="{{ product.name }}">
        </div>
        <div class="col">
            <span class="badge bg-primary">{{product.category.name}}</span>
            <p>
                {{product.shortDescription}}
            </p>
            <a href="#" class="btn btn-success btn-lg">
                <i class="fas fa-shopping-cart mr-2"></i>
                Ajouter au panier
            </a>
        </div>
    </div>

{% endblock %}