{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>Nos produits phares</h1>
    <div class="row">
        {% for product in products %}
            <div class="col">
                {% include "product/product_card.html.twig" %}
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Un service irréprochable</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eius voluptates dolorem quo odit id eveniet magni minima officia nemo.</p>
    <div class="row">

        {% set items = [
            {
                'color': 'primary',
                'icone': 'fas fa-truck',
                'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quia nostrum vitae, repudiandae distinctio harum!"
            },
            {
                'color': 'success',
                'icone': 'fas fa-check',
                'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quia nostrum vitae, repudiandae distinctio harum!"
            },
            {
                'color': 'warning',
                'icone': 'fas fa-lock',
                'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quia nostrum vitae, repudiandae distinctio harum!"
            }
         ] %}
        {% for item in items %}
            {% include "shared/_assurance.html.twig" with item %}
        {% endfor %}

    </div>
{% endblock %}