<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>

  {% if levelOne is defined %}
      {% if levelTwo is defined %}
        <li class="breadcrumb-item"><a href="{{ path('product_category', {'slug': levelOne.slug}) }}">{{ levelOne.name }}</a></li>
      {% else %} 
        <li class="breadcrumb-item">{{ levelOne.name }}</li>
      {% endif %}
  {% endif %}

  {% if levelTwo is defined %}
    <li class="breadcrumb-item active">{{ levelTwo.name }}</li>
  {% endif %}
</ol>